@import url("reset_style.css");

.main {
    background-color: #eef3ff;
    width: 1280px;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 32px;
}

#eventChartContainer, #closeButton {
    display: none;
}
button{
    margin: 5px;
    padding: 5px;
}